@font-face {
    font-family: Jost-Regular;
    src: url(Jost-Regular.ttf);
}
@font-face {
    font-family: 'Andron-Scriptor-Web';
    src: url(Andron-Scriptor-Web.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*Structure*/
#accordionStructure table tbody tr {
    font-family: Andron-Scriptor-Web!important;
}

#accordionInfo li{
    display: list-item!important;
}

.tei_incipit{
    font-family: Andron-Scriptor-Web;
    font-size: 1.3em;
    color: red;
    margin-bottom:0;
}


.tei_{
    font-family: Andron-Scriptor-Web !important;
}
.tei_paragraph{
    font-family: Andron-Scriptor-Web !important;
}

.tei_paratext{
    font-family: Andron-Scriptor-Web !important;
    color: grey;
}
br:not(.tei_lb):not(.tei_lb.nobreak) {
    display: none;
}

h5 + br.tei_lb {
    display:none!important;
}
h6 + br.tei_lb {
    display:none!important;
}
span.tei_note-inscription + br.tei_lb {
    display: none!important;
}
.tei_praefatiuncula + br.tei_lb {
    display: none!important;
}
br.tei_lb + br {
    display:none!important;
}
li + br.tei_lb {
    display:none!important;
}

.tei_pb {
    font-weight: bold;
    font-family: Andron-Scriptor-Web !important;
}

.tei_pb::before {
    font-weight: bold;
    content: "["
}

.tei_pb::after {
    font-weight: bold;
    content: "]"
}

.tei_cb {
    font-weight: bold;
    font-family: Andron-Scriptor-Web !important;
}


.tei_cb::before {
    font-weight: bold;
    content: "["
}

.tei_cb::after {
    font-weight: bold;
    content: "]"
}


.tei_fw-page-header{
    /*font-family: Andron-Scriptor-Web;
    background-color: greenyellow;*/
    display:none;
}
.tei_fw-quire-numeral{
    /*font-family: Andron-Scriptor-Web;
    background-color: pink;*/
    display:none;
}



.tei_hi-color-red {
    color: red;
    font-family: Andron-Scriptor-Web !important;
}

.tei_hi-color-red-initial {
    color: red;
    font-weight: bold;
    font-family: Andron-Scriptor-Web !important;
}

.tei_hi-versal{
    font-weight: bold; /*check this*/
}

.tei_hi-color-stroked{
    background-color: #ff4500;
}

.tei_seg_displaced{
    font-family: Andron-Scriptor-Web !important;
}

/*.tei_chapter{
    margin-top:15px;
}*/

.tei_chapter-title {
    text-transform: none;
    font-family: 'Andron-Scriptor-Web'!important;
    font-size: initial;
    letter-spacing: initial;
}

.tei_sic::after{
    content: "[sic!]";
}


.tei_num {
    position: relative;
    cursor: pointer;
  }
  .tei_num:hover {
    background-color:#e6a7c5;
  }
  
  /*
  .tei_num::after {
    content: attr(value);
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
  }
  
  .tei_num:hover::after {
    opacity: 1;
    visibility: visible;
  }*/


  .tei_measure {
    position: relative;
    cursor: pointer;
  }
  .tei_measure:hover {
    background-color:#b3f0ff;
  }
  /*
  .tei_measure[type="duration-of-penance"]::after {
    content: "Duration of penance: " attr(quantity)" " attr(unit);
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
  }
  .tei_measure[type="fine"]::after {
    content: "Fine";
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
  }
  
  .tei_measure:hover::after {
    opacity: 1;
    visibility: visible;
  }*/

.tei_unclear{
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: #c452f5;
    /*border-bottom: 1px dotted #c452f5;
    text-decoration: none;*/
}
  
  

.icon-chapter-sync {
    background-color: #f6f6f6;
    border: none;
    padding: 2px 8px;
    margin-right:2px;
    border-radius: 5px;
}
.icon-chapter-sync:hover {
    background-color: #eaeaea;
}

.icon-chapter-mirador {
    background-color: #f6f6f6;
    border: none;
    padding: 2px 8px;
    margin-right:2px;
    border-radius: 5px;
}
.icon-chapter-mirador:hover {
    background-color: #eaeaea;
}

.prev-chapter{
    background-color: #f6f6f6;
    border: none;
    padding: 2px 8px;
    margin-right:2px;
    border-radius: 5px;
}
.prev-chapter:hover{
    background-color: #eaeaea;
}

.next-chapter{
    background-color:#f6f6f6;
    border: none;
    padding: 2px 8px;
    margin-right:2px;
    border-radius: 5px;
}
.next-chapter:hover{
    background-color:#eaeaea;
}


.tei_abbr {
    display: none;
}

/*.tei_expan {
    background-color: white;
}*/

.tei_note-inscription {
    font-style: italic;
    font-family: Andron-Scriptor-Web !important;
    display: block;
}

.tei_note-contemporary-marginalia{
    font-size: smaller;
    position: relative;
    cursor: pointer;
}

.tei_note-contemporary-marginalia:hover {
    background-color:#dcdcdc;
  }

.tei_note-later-marginalia{
    font-size: smaller;
    position: relative;
    cursor: pointer;
}

.tei_note-later-marginalia:hover {
    background-color:#dcdcdc;
  }
 
  /*
.tei_note-later-marginalia::after {
    content: "Later marginalia.";
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
  }
  
.tei_note-later-marginalia:hover::after {
    opacity: 1;
    visibility: visible;
  }*/

.tei_note-contemporary-interlinear{
    font-size: smaller;
    position: relative;
    cursor: pointer;
}
.tei_note-contemporary-interlinear:hover {
    background-color:#dcdcdc;
}
  /*
.tei_note-contemporary-interlinear::after{
content: "Contemporary interlinear.";
position: absolute;
left: 50%;
bottom: 100%;
transform: translateX(-50%);
background-color: black;
color: white;
padding: 5px 8px;
border-radius: 5px;
white-space: nowrap;
font-size: 12px;
opacity: 0;
visibility: hidden;
transition: opacity 0.2s ease-in-out;
} 
.tei_note-contemporary-interlinear:hover::after {
opacity: 1;
visibility: visible;
}*/

.tei_note-later-interlinear{
    font-size: smaller;
    position: relative;
    cursor: pointer;
}
.tei_note-later-interlinear:hover {
    background-color:#dcdcdc;
  }
 /* 
  .tei_note-later-interlinear::after {
    content: "Later interlinear.";
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
  } 
  .tei_note-later-interlinear:hover::after {
    opacity: 1;
    visibility: visible;
  }

*/
ol li{
    list-style: none;
    padding-left: 0 !important;
    margin-left: 0 !important;
    font-family: Andron-Scriptor-Web !important;
    font-size:initial;
    letter-spacing: unset;
    line-height: unset;
}
    


.footnotes li {
    float: none;
    list-style-type: decimal;
}


.tei_g {
    font-family: 'Andron-Scriptor-Web'!important;
}


.tei_handShift-wrapper {
    position: relative;
    /*display: inline-block;*/
}

.tei_handShift-wrapper:hover .tei_handShift-info {
    visibility: visible;
}

.ms_hand-name {
    display: block;
}

.ms_scribe-name {
    display: block;
}

.ms_source-name {
    display: block;
}

.tei_handShift-info {
    visibility: hidden;
    background-color: black !important;
    color: #fff !important;
    text-align: left;
    border-radius: 3px;
    padding: 0.5em;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    font-family: 'Jost-Regular';
    font-size: small;
}



/*.tei_note-editorial-comment-wrapper {
    position: relative;
    display: inline-block;
}

.tei_note-editorial-comment-info {
    cursor: pointer;
    background: none;
    border: none;
}

.tei_note-editorial-comment {
    visibility: hidden;
    background-color: black!important;
    color: #fff !important;
    text-align: left;
    border-radius: 3px;
    padding: 0.5em;
    position: absolute;
    z-index: 1;
    font-family: 'Jost-Regular';
    font-size: smaller;
}

.tei_note-editorial-comment p{
    font-size: small;
}


.tei_note-editorial-comment-wrapper:hover .tei_note-editorial-comment {
    visibility: visible;
}

.tei_note-editorial-question-wrapper {
    position: relative;
    display: inline-block;
}

.tei_note-editorial-question-qmark {
    cursor: pointer;
    background: none;
    border: none;
}

.tei_note-editorial-question {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 3px;
    padding: 0.5em;
    position: absolute;
    z-index: 1;
    font-family: 'Jost-Regular';
    font-size: smaller;
}

.tei_note-editorial-question-wrapper:hover .tei_note-editorial-question {
    visibility: visible;
}*/



/*.tei_supplied {
    color: #e40ffc;
}*/


.controlls {
    position: sticky;
    display: inline;
    top: 50px;
    left: 10px;
}



.tei_add {
    /*color: #5f9ea0;*/
    text-decoration: underline;
    text-decoration-color: #5ac5fa;
    text-decoration-thickness: 3px;  
}

.tei_subst > .tei_add {
    text-decoration: underline;
    text-decoration-style: wavy;
    /*color: #000;*/
    text-decoration-color: #5ac5fa;
}

.tei_delSpan {
    text-decoration: underline;
    text-decoration-style: wavy;
}

.tei_delSpan-written-on-erased {
    text-decoration: underline;
    text-decoration-style: wavy;
    /*color: #000;*/
}

.tei_delSpan-start-written-on-erased{
    text-decoration: underline;
    text-decoration-style: wavy;
    /*color: #000;*/
}
.tei_delSpan-written-on-erased-end{
    text-decoration: underline;
    text-decoration-style: wavy;
    /*color: #000;*/
}

.tei_delSpan-strikethrough {
    text-decoration: line-through;
}

.tei_delSpan-start-strikethrough{
    text-decoration: line-through;
}
.tei_delSpan-strikethrough-end{
    text-decoration: line-through;
}

.tei_erasure-without-substitution {
    color: transparent;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #b3b3b3;;
}

.tei_del-strikethrough {
    text-decoration: line-through;
}

.tei_del-blackout{
 background-color: #000;
}

.tei_del-correction{
    display: inline;
  color:  #808080 !important;
  border: thin solid  #b3b3b3;
  padding-left:1px;
  padding-right:1px;

    position: relative;
    cursor: pointer;
  }
  
 /* .tei_del-correction::after {
    content: "<span lang='de'>Korrektur</span><span lang='en'>Correction</span>";
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
  }
  
  .tei_del-correction:hover::after {
    opacity: 1;
    visibility: visible;
  }*/

.tei_del-expunctuation{
    display: inline;
    color:  #808080 !important;
    border: thin solid  #b3b3b3;
    padding-left:1px;
    padding-right:1px;
    
    position: relative;
    cursor: pointer;
  }
  /*
  .tei_del-expunctuation::after {
    content: "Expunctuation";
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
  }
  
  .tei_del-expunctuation:hover::after {
    opacity: 1;
    visibility: visible;
  }*/

.tei_del-underlined{
    text-decoration: underline;
}

.tei_damage-cut-out{background-color: lightgray;}
.tei_damage-torn-out{background-color: lightgray;}
.tei_damage-burned{background-color: lightgray;}
.tei_damage-trimmed{background-color: lightgray;}

.tei_damage-cut-out::after{content:"[Reason of damage: cut-out]"; background-color: lightgray;}
.tei_damage-torn-out::after{content:"[Reason of damage: torn-out]"; background-color: lightgray;}
.tei_damage-burned::after{content:"[Reason of damage: burned]"; background-color: lightgray;}
.tei_damage-trimmed::after{content:"[Reason of damage: trimmed]"; background-color: lightgray;}

.canvas {
    display: flex;
}

.canvas > .container_ms {
    flex-basis: 100%;
    padding-right: 5%;
}

.canvas > .controlls {
    padding-right: 5%;
}



.container_ms {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: auto;
}

.dropdown-item {
    font-family:Jost-Regular!important;
    font-size:15px;
    letter-spacing: 0.5px;
}

em{
    font-style: normal;
}


/*.scribe[n]-bg: background-color in the transcription text | .scribe[n]-info: css rules regarding the scribes in the info panel*/
.scribe01-bg {
    background-color: #a52a2a3d;
}
.scribe01-info {
    background-color: #a52a2a3d;
}

.scribe02-bg {
    background-color: #ffff0040;
}
.scribe02-info {
    background-color: #ffff0040;
}

.scribe03-bg {
    background-color: #1ce6ff36;
}.scribe03-info {
    background-color: #1ce6ff36;
}

.scribe04-bg {
    background-color: #ff34ff3d;
}
.scribe04-info {
    background-color: #ff34ff3d;
}

.scribe05-bg {
    background-color: #ff4a465c;
}
.scribe05-info {
    background-color: #ff4a465c;
}

.scribe06-bg {
    background-color: #00894140;
}
.scribe06-info {
    background-color: #00894140;
}

.scribe07-bg {
    background-color: #006fa645;
}
.scribe07-info {
    background-color: #006fa645;
}

.scribe08-bg {
    background-color: #a300594d;
}
.scribe08-info {
    background-color: #a300594d;
}

.scribe09-bg {
    background-color: #FFDBE5;
}
.scribe09-info {
    background-color: #FFDBE5;
}

.scribe10-bg {
    background-color: #7a490057;
}
.scribe10-info {
    background-color: #7a490057;
}

.scribe11-bg {
    background-color: #0000a64d;
}
.scribe11-info {
    background-color: #0000a64d;
}

.scribe12-bg {
    background-color: #63ffac38;
}
.scribe12-info {
    background-color: #63ffac38;
}

.scribe13-bg {
    background-color: #b797625e;
}
.scribe13-info {
    background-color: #b797625e;
}

.scribe14-bg {
    background-color: #004d4354;
}
.scribe14-info {
    background-color: #004d4354;
}

.scribe15-bg {
    background-color: #8fb0ff5c;
}
.scribe15-info {
    background-color: #8fb0ff5c;
}

.scribe16-bg {
    background-color: #997d8770;
}
.scribe16-info {
    background-color: #997d8770;
}

.scribe17-bg {
    background-color: #5a000754;
}
.scribe17-info {
    background-color: #5a000754;
}

.scribe18-bg {
    background-color: #809693ad;
}
.scribe18-info {
    background-color: #809693ad;
}

.scribe19-bg {
    background-color: #FEFFE6;
}
.scribe19-info {
    background-color: #FEFFE6;
}

.scribe20-bg {
    background-color: #1b440054;
}
.scribe20-info {
    background-color: #1b440054;
}

.scribe21-bg {
    background-color: #4fc60129;
}
.scribe21-info {
    background-color: #4fc60129;
}

.scribe22-bg {
    background-color: #3b5dff21;
}
.scribe22-info {
    background-color: #3b5dff21;
}

.scribe23-bg {
    background-color: #4a3b533b;
}
.scribe23-info {
    background-color: #4a3b533b;
}

.scribe24-bg {
    background-color: #ff2f8017;
}
.scribe24-info {
    background-color: #ff2f8017;
}

.scribe25-bg {
    background-color: #61615a2e;
}
.scribe25-info {
    background-color: #61615a2e;
}

.scribe26-bg {
    background-color: #ba090021;
}
.scribe26-info {
    background-color: #ba090021;
}

.scribe27-bg {
    background-color: #6b790047;
}
.scribe27-info {
    background-color: #6b790047;
}

.scribe28-bg {
    background-color: #00c2a03b;
}
.scribe28-info {
    background-color: #00c2a03b;
}

.scribe29-bg {
    background-color: #ffaa9221;
}
.scribe29-info {
    background-color: #ffaa9221;
}

.scribe30-bg {
    background-color: #ff90c93b;
}
.scribe30-info {
    background-color: #ff90c93b;
}

.scribe31-bg {
    background-color: #b903aa30;
}
.scribe31-info {
    background-color: #b903aa30;
}

.scribe32-bg {
    background-color: #d1610047;
}
.scribe32-info {
    background-color: #d1610047;
}

.scribe33-bg {
    background-color: #DDEFFF;
}
.scribe33-info {
    background-color: #DDEFFF;
}

.scribe34-bg {
    background-color: #0000353b;
}
.scribe34-info {
    background-color: #0000353b;
}

.scribe35-bg {
    background-color: #7b4f4b63;
}
.scribe35-info {
    background-color: #7b4f4b63;
}

.scribe36-bg {
    background-color: #a1c29999;
}
.scribe36-info {
    background-color: #a1c29999;
}

.scribe37-bg {
    background-color: #3000184f;
}
.scribe37-info {
    background-color: #3000184f;
}

.scribe38-bg {
    background-color: #0aa6d829;
}
.scribe38-info {
    background-color: #0aa6d829;
}

.scribe39-bg {
    background-color: #01334957;
}
.scribe39-info {
    background-color: #01334957;
}

.scribe40-bg {
    background-color: #00846f3d;
}
.scribe40-info {
    background-color: #00846f3d;
}

.scribe41-bg {
    background-color: #3721012e;
}
.scribe41-info {
    background-color: #3721012e;
}

.scribe42-bg {
    background-color: #ffb5003b;
}
.scribe42-info {
    background-color: #ffb5003b;
}

.scribe43-bg {
    background-color: #c2ffed63;
}
.scribe43-info {
    background-color: #c2ffed63;
}

.scribe44-bg {
    background-color: #a079bf52;
}
.scribe44-info {
    background-color: #a079bf52;
}

.scribe45-bg {
    background-color: #cc074429;
}
.scribe45-info {
    background-color: #cc074429;
}

.scribe46-bg {
    background-color: #C0B9B2;
}
.scribe46-info {
    background-color: #C0B9B2;
}

.scribe47-bg {
    background-color: #c2ff996e;
}
.scribe47-info {
    background-color: #c2ff996e;
}

.scribe48-bg {
    background-color: #001e0945;
}
.scribe48-info {
    background-color: #001e0945;
}

.scribe49-bg {
    background-color: #00489c57;
}
.scribe49-info {
    background-color: #00489c57;
}

.scribe50-bg {
    background-color: #6f006257;
}
.scribe50-info {
    background-color: #6f006257;
}

.scribe51-bg {
    background-color: #0cbd6652;
}
.scribe51-info {
    background-color: #0cbd6652;
}

.scribe52-bg {
    background-color: #eec3ffb8;
}
.scribe52-info {
    background-color: #eec3ffb8;
}

.scribe53-bg {
    background-color: #456d7557;
}
.scribe53-info {
    background-color: #456d7557;
}

.scribe54-bg {
    background-color: #b77b688f;
}
.scribe54-info {
    background-color: #b77b688f;
}

.scribe55-bg {
    background-color: #7a87a19c;
}
.scribe55-info {
    background-color: #7a87a19c;
}

.scribe56-bg {
    background-color: #788d666e;
}
.scribe56-info {
    background-color: #788d666e;
}

.scribe57-bg {
    background-color: #8855786b;
}
.scribe57-info {
    background-color: #8855786b;
}

.scribe58-bg {
    background-color: #fad09fc2;
}
.scribe58-info {
    background-color: #fad09fc2;
}

.scribe59-bg {
    background-color: #ff8a9a7d;
}
.scribe59-info {
    background-color: #ff8a9a7d;
}

.scribe60-bg {
    background-color: #d157a07a;
}
.scribe60-info {
    background-color: #d157a07a;
}

.scribe61-bg {
    background-color: #bec45994;
}
.scribe61-info {
    background-color: #bec45994;
}

.scribe-unidentified-bg {
    background-color: whitesmoke;
}
.scribe-unidentified-info {
    background-color: whitesmoke;
}




.taxonomy-icon {
    margin-left: 7px;
    display: inline-block;
    cursor: pointer;
  }
.fa-tag{
    color:blue;
}

  .tooltip-inner {
    max-width: 500px;
    white-space: normal;
  }

.tei_note-editorial-comment-icon{
    margin-right: 5px;
    margin-left: 1px;
    color:#46b65f;
}
.tei_note-editorial-comment-mirador-icon{
    margin-right: 5px;
    margin-left: 1px;
    color: #46b65f;
}
.tei_note-editorial-question-icon{
    margin-right: 5px;
    margin-left: 1px;
}

/*Table column size in Structure*/

table {
    table-layout: fixed; /* Forces equal column width distribution */
    width: 100%;
}
th{
    width: 150px;
    word-wrap: break-word;
    white-space: normal;
}
td{
    width: 150px;
    word-wrap: break-word;
    white-space: normal;
}

/*.chapterNumber{
    width: 100px;
    word-wrap: break-word;
    white-space: normal;
}*/

.sequenceNumber{
    width: 100px;
    word-wrap: break-word;
    white-space: normal;
}

/*.transmission{
    width: 110px;
    word-wrap: break-word;
    white-space: normal;
}*/

.sructure-hand-table{
    width: 80px;
    word-wrap: break-word;
    white-space: normal;
}
