@font-face {
    font-family: Montserrat-Regular;
    src: url(Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-ExtraBold;
    src: url(Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: 'Andron-Scriptor-Web';
    src: url(Andron-Scriptor-Web.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}


html{
    scroll-padding-top: 70px;
    height: 100%;
}
body {
    height:100%;
    padding-top: 75px;
    font-family:Montserrat-Regular;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    font-family: Montserrat-ExtraBold;
    font-size:23px;
    text-transform: uppercase; 
    color:black; 
    padding:0; 
    letter-spacing:1px; 
}

 h3 {
    font-family:Montserrat-Regular;
    font-size:17px; 
    text-transform: uppercase; 
    color:black;
    font-weight: bold;}


h4{
    font-family:Montserrat-Regular;
    font-size: 16px;
    color: black;
    font-weight: bold;
}

h5{
    font-family:Montserrat-Regular;
    font-size: 15px;
    color: black;
    font-weight: bold;
}

h6{
    font-family:Montserrat-Regular;
    font-size: 14px; 
}

p {
    font-family:Montserrat-Regular;
    font-size:15px;
    line-height: 1.8;
}

code{font-size:15px;}

li{
    font-family:Montserrat-Regular;
    font-size:15px;
    line-height: 1.8;
    text-align: left;
}

.section-main-title{
    font-family:Montserrat-Regular;
    margin-bottom:20px;
    text-transform:uppercase;
}
#news-container .content{
    font-size: 15px;
    font-family: Montserrat-Regular;
    line-height: 1.8;
}
.team-title {
    font-family: Montserrat-ExtraBold;
    font-size:23px; 
    text-transform: uppercase; 
    color:black; 
    padding:0; 
    margin-bottom:20px;
    letter-spacing:1px; 
}

.member-name{text-transform: uppercase;}


/*  NAVBAR & FOOTER */
.navbar{
    font-family:Montserrat-Regular;
    background-color:black!important;  
    
}

.navbar-dark .navbar-nav .nav-link{
    color:#f5f5f5;
}

.navbar-dark .navbar-nav .nav-link:focus, 
.navbar-dark .navbar-nav .nav-link:hover {
              color: #46b65f !important;
              font-weight:900;
}

.navbar-nav .active {
    color: #46b65f !important;
    font-weight: bold;
  }

@media only screen and (min-width: 960px) {
    .navbar {
        padding: 0;
    }
    .navbar .navbar-nav .nav-link {
        padding: 1em 0.7em;
    }
    .navbar .navbar-brand {
        padding: 0 0.8em;
    }
}

.en { display: none; }
.de { display: initial; }
.language-button { cursor: pointer; margin-right: 10px; }
.active-language {
    background-color: #28a745;
    color: white;
}

.footer{
    bottom: 0;
    width: 100%;
    font-family: Montserrat-Regular;
    font-size: 15px;
}
.footer-logo-adw{width:40%}
.footer-logo-fau{width:100%}
.footer-logo-kassel{width:90%}
.footer-logo-jgu{width:100%}



.collation-table{
	font-family:Montserrat-Regular;
}

.container-filters-top{
    margin-top: 100px;
}

#book-selector option[disabled]{
    color:lightgrey;
}


/*  FIGURE  */
.figure {
    width: 33%; /* Set desired width for the figure container */
    margin: 0 auto; /* Center the figure within the parent div */
    display: inline-block; /* Ensure inline behavior for centering */
    text-align: center; /* Center-align text within the figure */
}

.figure-img {
    width: 100%;
    height: auto; /* Maintain aspect ratio by setting height to auto */
    display: block; /* Remove any inline spacing */
}

.figure-caption {
    margin-top: 8px;
    margin-bottom:10px;
    font-size: 13px!important;
}


/* MAP */
.mss-map-head {
	grid-row:3;
	grid-column: 2;
}
#map1 {
	height: 70vh;
	grid-row: 4;
	grid-column: 2;
}
.map-controll {
	grid-row:2;
	grid-column: 1;
}
#map2 {
    position: relative;
    margin-top: 30px;
    margin-bottom:30px;
    height: 600px;
    width: 100%;
    display: block;
}



/* .MuiList is mirador class for styling annotation list*/
 .MuiList-root {
            background-color: white;
        }
.MuiAppBar-root{
    z-index: 1!important;
}

.mss-data {position:relative;}

.fullscreen {
            width: 100%;
            height:100vh;
            position:relative;
            margin-top:30px;
}

.mirDesktop > .fullscreen {
    width: 100%;
    height:600px;
    position:relative;
    margin-top:0px;
}

/* .viewer class for dosplaying mirador viewer*/
.viewer {
        width: 50%;
        height: 100%;
        position: fixed;
      }

.bdd-unin-lost{
    border-style: solid;
  border-color: #A9A9A9;
  border-top: solid #A9A9A9;
    background-color:#F8F8F8;
}
.bdd-ed-rec{
    color:#b300b3;
}
.table-strukturansicht{
        table-layout: fixed;
        width: 100%;
    }
td[data-content~="bdd-unin-lost"]::after{
content:"";
    height: 25px;
  width: 25px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block; 
}

td[data-content~="bdd-ed-rec"]::after{
    content:"";
    height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
   
} 
td.bdd-unin-lost::after{
    content:"aa";
}
td.bdd-ed-rec::after{
    content:"bb";
}
.legendFont{
font-family: Andron-Scriptor-Web;
}
.sort-arrow {
    color: #ccc;
  }
.fa-arrow-up-right-from-square {
    margin-left: 5px;
}



/* Title */
.parallax-title {background: black; padding-top: 45px; padding-bottom: 30px; margin:0 auto; text-align:center;font-family: Montserrat-ExtraBold; text-transform: uppercase;}
.parallax-title h1 {font-size:40px; color:white; font-weight:800; margin-bottom:0; font-family: Montserrat-ExtraBold; }
.home-subtitle {font-size:23px; letter-spacing:3px; color:white; margin-top:10px; font-weight:600; font-family: Montserrat-Regular; }

.short-text {display: none;}

.container-index {
    background: white; 
    padding-top: 60px; 
    padding-bottom: 60px; 
    margin:0 auto; 
    }

/* Parallax */
.parallax-one {
    padding-top: 200px; 
    padding-bottom: 200px; 
    overflow: hidden; 
    position: relative; 
    width: 100%; 
    background-image: url(../img/Dekret_F2cut.jpg); 
    background-attachment: fixed; 
    background-size: cover; 
    -moz-background-size: cover; 
    -webkit-background-size: cover; 
    background-repeat: no-repeat; 
    background-position: top center;
}

.parallax-two {
    padding-top: 100px; 
    padding-bottom: 100px; 
    overflow: hidden; 
    position: relative; 
    width: 100%; 
    background-image: url(../img/Dekret_F2cut.jpg); 
    background-attachment: fixed; 
    background-size: cover; 
    -moz-background-size: cover; 
    -webkit-background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
}

.parallax-three {
    padding-top: 100px; 
    padding-bottom: 100px; 
    overflow: hidden; 
    position: relative; 
    width: 100%; 
    background-image: url(../img/xml_19.png); 
    background-attachment: fixed; 
    background-size: cover; 
    -moz-background-size: cover; 
    -webkit-background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
}

.parallax-four {
    padding-top: 50px; 
    padding-bottom: 50px; 
    overflow: hidden; 
    position: relative; 
    width: 100%; 
    background-image: url(../img/xml_19.png); 
    background-attachment: fixed; 
    background-size: cover; 
    -moz-background-size: cover; 
    -webkit-background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
}

.form-select{width:20%}

/* INDEX SCROLL-DOWN */
#scroll-down {
           width: 100%;
        }
        #scroll-down::after {
            position: absolute;
            bottom: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 80%;
            background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 100%,rgba(0,0,0,.8) 100%);
            background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(33, 33, 33, 0.8) 100%,rgba(0,0,0,.8) 100%);
        }
        #scroll-down a {
            position: absolute;
            bottom: 20px;
            left: 50%;
            z-index: 2;
            display: inline-block;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            color: #fff;
            font : normal 400 20px/1;
            font-family: Montserrat-Regular;
            letter-spacing: .1em;
            text-decoration: none;
            transition: opacity .3s;
        }
        #scroll-down a:hover {
            opacity: .5;
        }

        #scroll-down a {
            padding-top: 60px;
        }
        #scroll-down a span {
            position: absolute;
            top: 0;
            left: 50%;
            width: 24px;
            height: 24px;
            margin-left: -12px;
            border-left: 1px solid #fff;
            border-bottom: 1px solid #fff;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-animation: sdb04 2s infinite;
            animation: sdb04 2s infinite;
            box-sizing: border-box;
        }
        @-webkit-keyframes sdb04 {
            0% {
                -webkit-transform: rotate(-45deg) translate(0, 0);
            }
            20% {
                -webkit-transform: rotate(-45deg) translate(-10px, 10px);
            }
            40% {
                -webkit-transform: rotate(-45deg) translate(0, 0);
            }
        }
        @keyframes sdb04 {
            0% {
                transform: rotate(-45deg) translate(0, 0);
            }
            20% {
                transform: rotate(-45deg) translate(-10px, 10px);
            }
            40% {
                transform: rotate(-45deg) translate(0, 0);
            }
        }



/* Media Queries*/ 
@media screen and (max-width: 959px) and (min-width: 768px) {
    .container-index {padding-top: 40px; padding-bottom: 40px;}
    .container-index {padding-top: 30px; padding-bottom: 30px;}
    .home-subtitle {font-size: 20px;}
    .short-text { display: inline-block; }
    .full-text { display: none; }
    .parallax-one, .parallax-three {padding-top:200px; padding-bottom:200px; background-attachment: initial;}
    .parallax-two, .parallax-four {padding-top:100px; padding-bottom:100px; background-attachment: initial;}
    .card{margin-bottom:15px;}
    #scroll-down{display:none;}
    #book-image {height: 40%!important;}
    .table-strukturansicht {table-layout: auto;}
    .figure{width:100%;}
}
    
@media screen and (max-width: 767px) {
    #transcription-view-button{margin-top: 20px;}
    .form-select{width: 100%;}
    .back-button{display: none;}
    .container-index {padding-top: 30px; padding-bottom: 30px;}
    .home-subtitle {font-size: 18px;}
    .short-text { display: inline-block; }
    .full-text { display: none; }
    .parallax-one{padding-top:100px; padding-bottom:100px; background-attachment: initial;}
    .parallax-two, .parallax-three, .parallax-four {display: none;}
    .card{margin-bottom:15px;}
    #scroll-down{display:none;}
    .manuscript-title h1{font-size:25px; margin-top:30px;}
    .table-strukturansicht {table-layout: auto;}
    .text-container-edition:not(:first-child){margin-top:50px;}
    .section-main-title{
        margin-top:60px; 
        margin-bottom:10px;
        margin-left:10px;
    }
    .figure{width:100%}
        
    /*  DESKTOP7SCHREIBTISCH  */
    #downloadJsonBtn{display:none;}
    #clearAll{display:none;}
    #transcription-view-button{display:none;}
    .add-transcription-btn{display:none;}
    .mirador-btn{display:none;}
    .add-structure-btn{display:none;}
    .editor-btn{display:none;}
    .mirador-col{display:none;}
    .resource-panel-item.half-width{width:100%}
    .resource-panel-item.three-quarter-width {width: 100%;}
    .json-upload{display:none;}
}
    
@media (max-width: 767.98px) {
    .fullscreen {
    width: 95%;
    margin-top: 30px;
    margin-bottom:30px;
    }
    
    .manuscript-title { 
    text-align:left;
    margin-left:20px;
    }
    .section-main-title{
        margin-top:60px; 
        margin-bottom:10px;
        margin-left:10px;
    }  
    #map2 {width: 90%;}
    .figure{width:100%}
    .footer-logo-adw{width:30%}
    .footer-logo-fau{width:60%}
    .footer-logo-kassel{width:60%}
    .footer-logo-jgu{width:70%}
}

@media screen and (max-width: 479px) {
    .container-index {padding: 30px 15px;}
    .container-index {padding-top: 30px; padding-bottom: 30px;}
    .parallax-title h1 {font-size: 30px;}
    .home-subtitle {font-size: 13px;}
    .short-text { display: inline-block; }
    .full-text { display: none; }
    .parallax-one{padding-top:100px; padding-bottom:100px; background-attachment: initial;}
    .parallax-two, .parallax-three, .parallax-four {display: none;}
    .card{margin-bottom:15px;}
    #scroll-down{display:none;}
    .navbar-brand img{width: 60px!important;}
    .manuscript-title h1{font-size:25px; margin-top:30px;}
    .section-main-title{
        margin-top:60px; 
        margin-bottom:10px;
        margin-left:10px;
    }
    
    .back-button{display:none;}
    .figure{width:100%}
    .footer-logo-adw{width:30%}
    .footer-logo-fau{width:60%}
    .footer-logo-kassel{width:60%}
    .footer-logo-jgu{width:70%}
}

